// less/main.less

// Import Boostrap Styles Here

@import "bootstrap/bootstrap.less";

// Import your own LESS files here
//
// Add your own styles here
.page-header{
  margin: 0;
  padding-top: 20px;
  background-color: #000000;
  color: white;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

li .list-group-item.active
{
  color: yellowgreen;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.axes {
  fill: none;
  stroke: #696969;
  stroke-width: 1;
}

.wedge {
  fill: #638025;
  stroke: #000000;
  stroke-width: 1;
}