.App {
}
.App-header {
  text-align: center;
  background-color: #000000;
  height: 50px;
  padding: 20px;
  color: white;
}
.App-header h2 {
  vertical-align: bottom;
  margin: 0;
}



.Hop-names ul{
  list-style-type: none;
}
.Hop-names li{
  border: solid;
  border-color: black;
}

.selected{
  background: goldenrod;
}

.App-intro {
  font-size: large;
}

.Hop-chart {
  width: 300px;

}

.selected {
  font-weight: bold;
}