body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Chart {
  background: #052338;
  box-sizing: border-box;
  height: 82vh;
  padding: 5%;
  width: 100vw;
}

.axes {
  fill: none;
  stroke: #696969;
  stroke-width: 1;
}

.wedge {
  fill: #638025;
  stroke: #000000;
  stroke-width: 1;
}